/*geral*/

body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 110%;
    line-height: 1.5;
    margin: 0;
}

main{
    float: left;
    width: 85%;
}

h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 30px;
    clear: both;
}

.container{
    width: 720px;
    margin: auto;
}

.titulo {
    font-size: 60px;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
	border-bottom: 10px solid black;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: uppercase;
    margin: 0px;
    line-height: 1.0;
}

.container a {
    color: #851944;
}

p {
    text-align: justify;
    margin: 20px 0;
}

img{
    float: right;
    width: 15%;
    border: #000 10px solid;
    box-sizing: border-box;
}
.navegação {
	font-family: "Open Sans Condensed", sans-serif;
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    width: 15%;
    float: right;
    border: #000 10px solid;
    border-top: 0;
    clear: right;
    box-sizing: border-box;
    list-style-type: none;
}

.navegação h1 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 30px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.links{
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.links a{
    color: inherit;
    text-decoration: none;
}

.social{
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.social li{
    display: inline-block;
}

.social a{
    width: 40px;
    height: 40px;
    text-indent: -999999px;
    display: block;
}

.github{
    background-image: url(github.png);
}
.twitter{
    background-image: url(twitter.png);
}
.linkedin{
    background-image: url(linkedin.png);
}

#rodape {
    background-color: #000;
    color: #F2FFFC;
    padding: 15px 15px;
    clear: both;
}


/*bio.html*/

blockquote {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    border-bottom-color: #333;
    border-right-color: gray;
    margin: 20px 40px;
    width: 260px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 15px;
}

.fiat{
    float: right;
}

.petrobras{
    float: left;
}

/*blog.html*/

.postblog {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}