blockquote {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    border-bottom-color: #333;
    border-right-color: gray;
    margin: 20px 40px;
    width: 260px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 15px;
}

.fiat{
    float: right;
}

.petrobras{
    float: left;
}