body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
    margin: 0;
}

main{
    float: left;
    width: 85%;
}

h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 1.875em;
    clear: both;
}

.container{
    width: 720px;
    margin: auto;
    padding-bottom: 5em;
}

.titulo {
    font-size: 3.75em;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
	border-bottom: 10px solid black;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: uppercase;
    margin: 0px;
    line-height: 1.0;
}

.container a {
    color: #851944;
}

p {
    text-align: justify;
    margin: 20px 0;
}

.fotojoao{
    width: 310px;
    border: #000 10px solid;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
}
.navegação {
	font-family: "Open Sans Condensed", sans-serif;
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    width: 270px;
    border: #000 10px solid;
    border-top: 0;
    box-sizing: border-box;
    list-style-type: none;
    position: absolute;
    top: 310px;
    right: 0px;
}

.navegação h1 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 30px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.links{
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.links a{
    color: inherit;
    text-decoration: none;
}

.social{
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.social li{
    display: inline-block;
}

.social a{
    width: 40px;
    height: 40px;
    text-indent: -999999px;
    display: block;
}

.github{
    background-image: url(../img/github.png);
}
.twitter{
    background-image: url(../img/twitter.png);
}
.linkedin{
    background-image: url(../img/linkedin.png);
}

#rodape {
    background-color: #000;
    color: #F2FFFC;
    padding: 15px 15px;
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
}